header {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: $section-padding;
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @include sm {
    top: 0;
    height: 10vh;
    font-size: $font-size-md;
    justify-content: space-between;
  }

  h3 {
    font-size: $font-size-sm;
    font-weight: $bold;
    letter-spacing: 0.1rem;

    @include md {
      font-size: $font-size-md;
    }
  }

  p {
    display: none;
    font-size: $font-size-sm;
    font-weight: $bold;
    letter-spacing: 0.15rem;
    @include sm {
      display: block;
    }
    @include md {
      font-size: $font-size-md;
    }
  }
}
