header {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: $section-padding;
  height: 5vh;
  z-index: 99;

  display: none;
  justify-content: center;
  align-items: center;

  @include sm {
    display: flex;
    top: 0;
    height: 10vh;
    font-size: $font-size-md;
    justify-content: space-between;
  }

  h3 {
    font-size: $font-size-sm;
    font-weight: $bold;
    letter-spacing: 0.1rem;

    @include md {
      font-size: $font-size-md;
    }
  }

  nav {
    width: 40vw;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      li {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: $orange;
        }

        a {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}
