.header {
  position: fixed;
  z-index: 990;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: scaleX(0);
  transform-origin: right;

  @include md {
    transform: scaleX(1);
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    padding: 0 5%;
  }

  h3 {
    letter-spacing: 1px;
    font-size: $font-size-md;
    margin-bottom: 10vh;

    @include md {
      font-size: 1.2rem;
      margin: 0;
    }
  }

  nav {
    ul {
      list-style: none;
      width: 100%;

      @include md {
        display: flex;
        width: 50vw;
      }

      @include lg {
        width: 30rem;
      }

      li {
        margin-bottom: 6vh;
        width: 100%;

        @include md {
          margin: 0;
        }

        a {
          display: block;
          text-decoration: none;
          width: 100%;
          text-align: center;
          font-size: $font-size-md;

          @include md {
            font-size: 1.2rem;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.active {
    transform: scaleX(1);
  }
}
