.left-navi,
.right-navi {
  .nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $decoration-height;

    .nav-item {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 20px;
      display: grid;
      align-items: center;

      cursor: pointer;

      @include lg {
        &:hover {
          .item {
            width: 80px;
            background-color: $orange;
          }

          .tooltip {
            opacity: 1;
            width: 15rem;
          }
        }
      }

      .item {
        width: 20px;
        height: 5px;
        background-color: $font-color;
        border-radius: 20px;
        transition: all 0.5s ease;

        &.active {
          width: 40px;
          background-color: $orange;

          @include md {
            width: 80px;
          }
        }
      }

      .tooltip {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: $button-padding;
        border: $cta-button-border;
        text-align: center;
        opacity: 0;

        transition: all 0.5s;
        pointer-events: none;
        width: 13.5rem;

        @include lg {
          width: 18rem;
        }

        p {
          font-size: $font-size-rg;
          height: max-content;
          line-height: $font-size-slider;
        }
      }
    }
  }
}

.left-navi {
  .nav-item {
    justify-content: left;

    .tooltip {
      right: -14rem;

      @include lg {
        right: -16rem;
      }
    }
  }
}

.right-navi {
  display: none;
  @include md {
    display: flex;
  }
  .nav-item {
    justify-content: right;

    .tooltip {
      left: -14rem;

      @include lg {
        left: -16rem;
      }
    }
  }
}
