.other-section.active {
  .section-wrapper {
    .section__decoration {
      .number-container {
        p {
          span {
            transform: translateY(0);
          }
        }
      }

      &::before {
        width: 35vw;
      }
      &::after {
        height: 45vh;
      }
    }

    .section-main-content-2 {
      .section-image-content {
        transform: translate(0, 0);

        img {
          opacity: 1;
          transform: translateX(0);
        }

        .visit-slider {
          &:hover {
            &::after {
              transform: rotate(-20deg) translate(100vw, -50%);
            }
            opacity: 1;
            h3 {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.hero.active {
  .main-section-content {
    .hero-section-image {
      img {
        opacity: 0.2;
      }
    }

    .section-text {
      h1 {
        span {
          &.my-name {
            transform: translateY(0);
          }
        }
      }

      p {
        span {
          transform: translateY(0);
        }
      }
    }
  }
}
