@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  font-family: "Ubuntu";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

body.landing-page {
  height: 100vh;
}

.text-primary-dark {
  color: #000000;
}

.bg-primary-dark {
  background-color: #000000;
}

.text-secondary {
  color: #ff7a00;
}

.bg-secondary {
  background-color: #ff7a00;
}

.text-primary {
  color: #ffffff;
}

.bg-primary {
  background-color: #ffffff;
}

.text-dark-styled {
  color: rgba(51, 51, 51, 0.7);
}

.bg-dark-styled {
  background-color: rgba(51, 51, 51, 0.7);
}

.text-dark-gray {
  color: #333333;
}

.bg-dark-gray {
  background-color: #333333;
}

.text-light-gray {
  color: #a4a4a4;
}

.bg-light-gray {
  background-color: #a4a4a4;
}

.section {
  width: Min(75vw, 1800px);
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  position: relative;
}

.hero h1 {
  font-size: 4vh;
  font-weight: 500;
  margin-bottom: 2vh;
}

@media (min-width: 480px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 720px) {
  .hero h1 {
    font-size: 4rem;
  }
}

@media (min-width: 960px) {
  .hero h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1600px) {
  .hero h1 {
    font-size: 8.5rem;
  }
}

.hero h1 span {
  position: relative;
  display: inline-block;
}

.hero h1 span.hovered {
  text-shadow: -5vh 5vh 0 #a4a4a4, 5vh -5vh 0 #333333;
}

.hero p {
  font-size: 3vh;
  font-weight: 400;
}

@media (min-width: 480px) {
  .hero p {
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {
  .hero p {
    font-size: 3rem;
  }
}

@media (min-width: 1600px) {
  .hero p {
    font-size: 4rem;
  }
}

.section-main-content-2 {
  width: 100%;
  height: 80vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  border-left: 1px solid rgba(255, 255, 255, 0.04);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 960px) {
  .section-main-content-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    border-radius: 36px;
  }
}

.section-main-content-2 .section-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  margin: 0;
}

@media (min-width: 960px) {
  .section-main-content-2 .section-text-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin-left: 3vw;
  }
}

.section-main-content-2 .section-text-content .section-title {
  margin-bottom: 5vh;
  max-width: 100%;
}

@media (min-width: 480px) {
  .section-main-content-2 .section-text-content .section-title {
    margin-top: 5vh;
  }
}

@media (min-width: 960px) {
  .section-main-content-2 .section-text-content .section-title {
    margin-top: 0;
  }
}

.section-main-content-2 .section-text-content .section-title h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 2vh 0;
}

@media (min-width: 480px) {
  .section-main-content-2 .section-text-content .section-title h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 720px) {
  .section-main-content-2 .section-text-content .section-title h2 {
    font-size: 4vh;
  }
}

@media (min-width: 1600px) {
  .section-main-content-2 .section-text-content .section-title h2 {
    font-size: 3rem;
  }
}

.section-main-content-2 .section-text-content .section-title p {
  font-size: 3vh;
}

@media (min-width: 960px) {
  .section-main-content-2 .section-text-content .section-title p {
    font-size: 1.7rem;
  }
}

@media (min-width: 1600px) {
  .section-main-content-2 .section-text-content .section-title p {
    font-size: 2rem;
  }
}

.left-navi .nav-items,
.right-navi .nav-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10rem;
}

.left-navi .nav-items .nav-item,
.right-navi .nav-items .nav-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (min-width: 960px) {
  .left-navi .nav-items .nav-item:hover .item,
  .right-navi .nav-items .nav-item:hover .item {
    width: 80px;
    background-color: #ff7a00;
  }
  .left-navi .nav-items .nav-item:hover .tooltip,
  .right-navi .nav-items .nav-item:hover .tooltip {
    opacity: 1;
    width: 15rem;
  }
}

.left-navi .nav-items .nav-item .item,
.right-navi .nav-items .nav-item .item {
  width: 20px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-navi .nav-items .nav-item .item.active,
.right-navi .nav-items .nav-item .item.active {
  width: 40px;
  background-color: #ff7a00;
}

@media (min-width: 720px) {
  .left-navi .nav-items .nav-item .item.active,
  .right-navi .nav-items .nav-item .item.active {
    width: 80px;
  }
}

.left-navi .nav-items .nav-item .tooltip,
.right-navi .nav-items .nav-item .tooltip {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1vh 2vw;
  border: 1px solid #ffffff;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: none;
  width: 13.5rem;
}

@media (min-width: 960px) {
  .left-navi .nav-items .nav-item .tooltip,
  .right-navi .nav-items .nav-item .tooltip {
    width: 18rem;
  }
}

.left-navi .nav-items .nav-item .tooltip p,
.right-navi .nav-items .nav-item .tooltip p {
  font-size: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  line-height: 2.5rem;
}

.left-navi .nav-item {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.left-navi .nav-item .tooltip {
  right: -14rem;
}

@media (min-width: 960px) {
  .left-navi .nav-item .tooltip {
    right: -16rem;
  }
}

.right-navi {
  display: none;
}

@media (min-width: 720px) {
  .right-navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.right-navi .nav-item {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.right-navi .nav-item .tooltip {
  left: -14rem;
}

@media (min-width: 960px) {
  .right-navi .nav-item .tooltip {
    left: -16rem;
  }
}

.header {
  position: fixed;
  z-index: 990;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media (min-width: 720px) {
  .header {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 10vh;
    padding: 0 5%;
  }
}

.header h3 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 10vh;
}

@media (min-width: 720px) {
  .header h3 {
    font-size: 1.2rem;
    margin: 0;
  }
}

.header nav ul {
  list-style: none;
  width: 100%;
}

@media (min-width: 720px) {
  .header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
  }
}

@media (min-width: 960px) {
  .header nav ul {
    width: 30rem;
  }
}

.header nav ul li {
  margin-bottom: 6vh;
  width: 100%;
}

@media (min-width: 720px) {
  .header nav ul li {
    margin: 0;
  }
}

.header nav ul li a {
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

@media (min-width: 720px) {
  .header nav ul li a {
    font-size: 1.2rem;
  }
  .header nav ul li a:hover {
    text-decoration: underline;
  }
}

.header.active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.slide-in {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-in .slide-in_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-in .slide-in_logo .slide-in_img img {
  width: 20vh;
}

.slide-in .slide-in_logo .slide-in_text {
  width: 100%;
  text-align: center;
  margin-top: 4vh;
}

.slide-in .slide-in_logo .slide-in_text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  background: #000000;
  overflow-y: hidden;
  position: relative;
}

.slide-in .slide-in_logo .slide-in_text h1 span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide-in.static .slide-in_logo .slide-in_img {
  opacity: 1;
}

.slide-in.static .slide-in_logo .slide-in_text h1 span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.button-content {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 960px) {
  .button-content {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.main-cta-wrapper {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  position: relative;
}

.main-cta-wrapper button {
  padding: 1vh 2vw;
  font-size: 1rem;
  background: transparent;
  font-weight: 400;
  border: 1px solid #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  position: relative;
}

@media (min-width: 480px) {
  .main-cta-wrapper button {
    font-size: 1.5rem;
  }
}

.main-cta-wrapper button::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 200vh;
  background-color: #f3f3f3;
  z-index: 5;
  -webkit-box-shadow: 0 0 0.4vw #ffffff;
          box-shadow: 0 0 0.4vw #ffffff;
  -webkit-filter: blur(0.5vw);
          filter: blur(0.5vw);
  opacity: 1;
  top: -20vh;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.main-cta-wrapper::after, .main-cta-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-cta-wrapper::before {
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-cta-wrapper::after {
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-cta-wrapper:hover button {
  -webkit-transform: translate(0.8rem, -0.8rem);
          transform: translate(0.8rem, -0.8rem);
  background-color: #ffffff;
  color: #000000;
}

.main-cta-wrapper:hover button::before {
  -webkit-transform: rotate(-20deg) translate(80vw);
          transform: rotate(-20deg) translate(80vw);
}

.main-cta-wrapper:hover::before {
  -webkit-transform: translate(-0.8rem, 0.8rem);
          transform: translate(-0.8rem, 0.8rem);
  background-color: rgba(164, 164, 164, 0.4);
}

.main-cta-wrapper:hover::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.menu {
  position: fixed;
  z-index: 999;
  right: 4vw;
  top: 4vh;
}

.menu .menu-btn-container {
  width: 40px;
  height: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-btn-container .menu-btn {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 36px;
  -webkit-transition: width 1s, -webkit-transform 0.5s;
  transition: width 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 1s;
  transition: transform 0.5s, width 1s, -webkit-transform 0.5s;
}

.menu .menu-btn-container .menu-btn::after, .menu .menu-btn-container .menu-btn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 36px;
  display: inline-block;
  -webkit-transition: width 1s, -webkit-transform 0.5s;
  transition: width 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 1s;
  transition: transform 0.5s, width 1s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.menu .menu-btn-container .menu-btn::after {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.menu .menu-btn-container .menu-btn::before {
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
}

.menu.active .menu-btn-container .menu-btn::before {
  border-radius: 0 36px 36px 0;
  width: 20px;
  -webkit-transform: translateY(-1px) rotate(45deg);
          transform: translateY(-1px) rotate(45deg);
}

.menu.active .menu-btn-container .menu-btn::after {
  border-radius: 0 36px 36px 0;
  width: 20px;
  -webkit-transform: translateY(1px) rotate(-45deg);
          transform: translateY(1px) rotate(-45deg);
}

@media (min-width: 720px) {
  .menu {
    display: none;
  }
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
  background-image: linear-gradient(115.44deg, #1572b6 -20.05%, #000000 34.42%, #333333 82.91%, #ff7a00 108.24%);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navigation {
  position: fixed;
  z-index: 500;
}

.navigation.left-navi {
  left: 5%;
  bottom: 4vh;
}

@media (min-width: 720px) {
  .navigation.left-navi {
    bottom: 12vh;
  }
}

.navigation.right-navi {
  right: 5%;
  top: 12vh;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  scrollbar-width: 0;
}

main::-webkit-scrollbar {
  display: none;
}

main .hero {
  position: relative;
}

main .hero .scroll_text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -1rem);
          transform: translate(-50%, -1rem);
  text-align: center;
  -webkit-animation: scroll-anim 1.8s infinite linear;
          animation: scroll-anim 1.8s infinite linear;
}

main .hero .scroll_text p {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: #a4a4a4;
}

@media (min-width: 720px) {
  main .hero .scroll_text p {
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  main .hero .scroll_text p {
    font-size: 24px;
  }
}

main .hero .main-section-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .hero .main-section-content .section-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  text-align: center;
}

main .hero .main-section-content .section-text h1 {
  width: 100vw;
  letter-spacing: 4px;
  overflow-y: hidden;
}

main .hero .main-section-content .section-text h1 span {
  display: inline-block;
}

main .hero .main-section-content .section-text h1 span.my-name {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

main .hero .main-section-content .section-text p {
  letter-spacing: 3px;
  overflow-y: hidden;
}

main .hero .main-section-content .section-text p span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

main .hero .main-section-content .hero-section-image {
  position: relative;
}

main .hero .main-section-content .hero-section-image img {
  opacity: 0;
  width: 80vw;
  height: auto;
}

@media (min-width: 480px) {
  main .hero .main-section-content .hero-section-image img {
    max-height: Min(70vh, 80vw);
    width: 50vw;
  }
}

@media (min-width: 720px) {
  main .hero .main-section-content .hero-section-image img {
    max-height: Min(70vh, 80vw);
    width: Min(475px, 40vw);
  }
}

@media (min-width: 960px) {
  main .hero .main-section-content .hero-section-image img {
    width: Min(600px, 40vw);
  }
}

main .other-section {
  position: relative;
}

main .other-section .section-wrapper {
  width: 100%;
  height: 90vh;
  position: relative;
  padding: 5% 0;
}

@media (min-width: 720px) {
  main .other-section .section-wrapper {
    height: 90vh;
  }
}

@media (min-width: 960px) {
  main .other-section .section-wrapper {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

main .other-section .section-wrapper .section__decoration {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  right: -7.5%;
  bottom: -2.5%;
}

@media (min-width: 720px) {
  main .other-section .section-wrapper .section__decoration {
    right: -9.5%;
    bottom: 0;
  }
}

main .other-section .section-wrapper .section__decoration.active .number-container p span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .other-section .section-wrapper .section__decoration.active::after {
  height: 40vh;
}

main .other-section .section-wrapper .section__decoration.active::before {
  width: 35vw;
}

main .other-section .section-wrapper .section__decoration .number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3vw;
  margin-bottom: 3vh;
}

main .other-section .section-wrapper .section__decoration .number-container p {
  font-size: 0.8rem;
  overflow: hidden;
}

@media (min-width: 960px) {
  main .other-section .section-wrapper .section__decoration .number-container p {
    font-size: 1.5rem;
  }
}

main .other-section .section-wrapper .section__decoration .number-container p span {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

main .other-section .section-wrapper .section__decoration .number-container p.number {
  font-size: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

@media (min-width: 960px) {
  main .other-section .section-wrapper .section__decoration .number-container p.number {
    font-size: 4rem;
  }
}

main .other-section .section-wrapper .section__decoration::before, main .other-section .section-wrapper .section__decoration::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .other-section .section-wrapper .section__decoration::before {
  width: 0;
  height: 2px;
}

main .other-section .section-wrapper .section__decoration::after {
  width: 2px;
  height: 0;
}

main .other-section .section-wrapper .section-main-content-2 {
  overflow: hidden;
}

main .other-section .section-wrapper .section-main-content-2 .section-image-content {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  justify-self: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 100%;
}

@media (min-width: 480px) {
  main .other-section .section-wrapper .section-main-content-2 .section-image-content {
    margin-bottom: 0;
    height: 33vh;
  }
}

@media (min-width: 960px) {
  main .other-section .section-wrapper .section-main-content-2 .section-image-content {
    height: 100%;
    width: 33vw;
    margin-bottom: 0;
  }
}

main .other-section .section-wrapper .section-main-content-2 .section-image-content.none-cursor-img {
  cursor: default;
}

main .other-section .section-wrapper .section-main-content-2 .section-image-content a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main .other-section .section-wrapper .section-main-content-2 .section-image-content a img {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  max-height: 35vh;
  margin: 0;
}

@media (min-width: 480px) {
  main .other-section .section-wrapper .section-main-content-2 .section-image-content a img {
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media (min-width: 720px) {
  main .other-section .section-wrapper .section-main-content-2 .section-image-content a img {
    max-height: 40vh;
    margin-bottom: 0;
  }
}

@media (min-width: 960px) {
  main .other-section .section-wrapper .section-main-content-2 .section-image-content a img {
    height: auto;
    max-height: 70vh;
    max-width: 100%;
  }
}

main .other-section .section-wrapper .section-main-content-2 .section-image-content .visit-slider {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 960px) {
  main .other-section .section-wrapper .section-main-content-2 .section-image-content .visit-slider {
    display: -ms-grid;
    display: grid;
  }
  main .other-section .section-wrapper .section-main-content-2 .section-image-content .visit-slider:hover {
    opacity: 1;
  }
  main .other-section .section-wrapper .section-main-content-2 .section-image-content .visit-slider:hover::after {
    -webkit-transform: rotate(-20deg) translate(100vw, -50%);
            transform: rotate(-20deg) translate(100vw, -50%);
  }
  main .other-section .section-wrapper .section-main-content-2 .section-image-content .visit-slider:hover h3 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

main .other-section .section-wrapper .section-main-content-2 .section-image-content .visit-slider::after {
  content: "";
  position: absolute;
  width: 2vw;
  height: 200vh;
  background-color: #f3f3f3;
  z-index: 15;
  -webkit-box-shadow: 0 0 1vw #ffffff;
          box-shadow: 0 0 1vw #ffffff;
  -webkit-filter: blur(1vw);
          filter: blur(1vw);
  opacity: 1;
  top: 20vh;
  -webkit-transform: rotate(-20deg) translateX(-50vh);
          transform: rotate(-20deg) translateX(-50vh);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

main .other-section .section-wrapper .section-main-content-2 .section-image-content .visit-slider h3 {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-transition: all 0.3s 0.1s;
  transition: all 0.3s 0.1s;
  z-index: 1;
  font-size: 5.25rem;
  font-weight: 600;
}

@media (min-width: 960px) {
  main .other-section .section-wrapper .section-main-content-2 .section-image-content:hover img {
    opacity: 0.1;
  }
}

main .other-section .section-wrapper .section-main-content-2 .section-text-content {
  -ms-grid-row: 2;
  grid-row: 2;
}

@media (min-width: 960px) {
  main .other-section .section-wrapper .section-main-content-2 .section-text-content {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

main .other-section .section-wrapper .section-main-content-2 .section-text-content .section-title h2 {
  letter-spacing: Min(2px, 0.1vw);
  width: 100%;
  overflow-y: hidden;
}

main .other-section .section-wrapper .section-main-content-2 .section-text-content .section-title h2 span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

main .other-section .section-wrapper .section-main-content-2 .section-text-content .section-title p {
  overflow-y: hidden;
  letter-spacing: Min(2px, 0.1vw);
  width: 100%;
}

main .other-section .section-wrapper .section-main-content-2 .section-text-content .section-title p span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

main .other-section .section-wrapper .section-main-content-2 .main-cta-wrapper {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

main .other-section .section-wrapper .section-main-content-2 .main-cta-wrapper.button-wrapper {
  margin-left: 0;
}

main .about .section-wrapper .section-main-content-2 .section-image-content:hover img {
  opacity: 1;
}

main .contact .section-wrapper {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact .section-wrapper .section-main-content-2 {
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
  width: 100%;
}

@media (min-width: 960px) {
  main .contact .section-wrapper .section-main-content-2 {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
}

main .contact .section-wrapper .section-main-content-2 .section-image-content {
  overflow: visible;
  height: auto;
}

main .contact .section-wrapper .section-main-content-2 .section-image-content .envelope {
  max-height: 20vh;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: envelope 4s linear infinite;
          animation: envelope 4s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media (min-width: 1600px) {
  main .contact .section-wrapper .section-main-content-2 .section-image-content .envelope {
    max-height: 30vh;
  }
}

main .contact .section-wrapper .section-main-content-2 .section-image-content:hover img {
  opacity: 1;
}

main .contact .section-wrapper .section-main-content-2 .section-text-content {
  margin: 0;
}

main .contact .section-wrapper .section-main-content-2 .section-text-content h2 {
  font-size: 5vw;
}

@media (min-width: 720px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content h2 {
    font-size: 4vh;
  }
}

@media (min-width: 1600px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content h2 {
    font-size: 3rem;
  }
}

main .contact .section-wrapper .section-main-content-2 .section-text-content p {
  font-size: 4vw;
}

@media (min-width: 720px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content p {
    font-size: 2vw;
  }
}

@media (min-width: 960px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content p {
    font-size: Min(4vw, 1.5rem);
  }
}

@media (min-width: 1600px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content p {
    font-size: 1.8rem;
  }
}

main .contact .section-wrapper .section-main-content-2 .section-text-content .mail-content {
  margin-top: 5vh;
}

main .contact .section-wrapper .section-main-content-2 .section-text-content .mail-content a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  font-size: 4.5vw;
  overflow: hidden;
  display: inline-block;
}

main .contact .section-wrapper .section-main-content-2 .section-text-content .mail-content a span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media (min-width: 720px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content .mail-content a {
    font-size: 2vw;
  }
}

@media (min-width: 960px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content .mail-content a {
    font-size: 2rem;
  }
}

@media (min-width: 1600px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content .mail-content a {
    font-size: 2.2rem;
  }
}

main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media {
  margin-top: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}

@media (min-width: 960px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media {
    text-align: left;
  }
}

main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media .social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
}

@media (min-width: 960px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media .social-media-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 240px;
    margin-top: 5vh;
  }
}

main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media .social-media-links a {
  text-decoration: none;
}

main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media .social-media-links a img {
  width: 30px;
}

@media (min-width: 960px) {
  main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media .social-media-links a img {
    width: 60px;
  }
  main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media .social-media-links a img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

main .contact .section-wrapper .section-main-content-2 .section-text-content .social-media .social-media-links a:nth-child(1) {
  margin-right: 3vh;
}

@-webkit-keyframes scroll-anim {
  0% {
    -webkit-transform: translate(-50%, -1rem);
            transform: translate(-50%, -1rem);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, 1rem);
            transform: translate(-50%, 1rem);
    opacity: 0;
  }
}

@keyframes scroll-anim {
  0% {
    -webkit-transform: translate(-50%, -1rem);
            transform: translate(-50%, -1rem);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, 1rem);
            transform: translate(-50%, 1rem);
    opacity: 0;
  }
}

@-webkit-keyframes envelope {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  33% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  66% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes envelope {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  33% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  66% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=index.css.map */