//Vaiables
@import "variables";

// Base & layouts
@import "base";
@import "breakpoints";

@import "colors";

//Components
@import "components/sections";
@import "components/navigation";
@import "components/header";
@import "components/slider";
@import "components/buttons";

body {
  overflow: hidden;
  scroll-behavior: smooth;
  background-image: linear-gradient(
    115.44deg,
    #1572b6 -20.05%,
    #000000 34.42%,
    #333333 82.91%,
    #ff7a00 108.24%
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  transition: transform 0.5s;
}

.menu {
  position: fixed;
  z-index: 999;
  right: 4vw;
  top: 4vh;

  .menu-btn-container {
    width: 40px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;

    .menu-btn {
      width: 40px;
      height: 4px;
      background-color: $font-color;
      border-radius: 36px;
      transition: transform 0.5s, width 1s;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: $font-color;
        border-radius: 36px;
        display: inline-block;
        transition: transform 0.5s, width 1s;
        transform-origin: 0 50%;
      }

      &::after {
        transform: translateY(-13px);
      }

      &::before {
        transform: translateY(13px);
      }
    }
  }

  &.active {
    .menu-btn-container {
      .menu-btn {
        &::before {
          border-radius: 0 36px 36px 0;
          width: 20px;
          transform: translateY(-1px) rotate(45deg);
        }
        &::after {
          border-radius: 0 36px 36px 0;
          width: 20px;
          transform: translateY(1px) rotate(-45deg);
        }
      }
    }
  }

  @include md {
    display: none;
  }
}

.navigation {
  position: fixed;
  z-index: 500;

  &.left-navi {
    left: 5%;
    bottom: 4vh;

    @include md {
      bottom: 12vh;
    }
  }

  &.right-navi {
    right: 5%;
    top: 12vh;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  outline: none;

  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }

  .hero {
    position: relative;

    .scroll_text {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -1rem);
      text-align: center;

      animation: scroll-anim 1.8s infinite linear;

      p {
        font-size: $font-size-rg;
        letter-spacing: 0.15rem;
        color: $light-gray;

        @include md {
          font-size: 20px;
        }

        @include xl {
          font-size: 24px;
        }
      }
    }

    .main-section-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10%;
      cursor: default;
      user-select: none;

      .section-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
        text-align: center;

        h1 {
          width: 100vw;
          letter-spacing: 4px;
          overflow-y: hidden;

          span {
            display: inline-block;

            &.my-name {
              transform: translateY(100%);
            }
          }
        }

        p {
          letter-spacing: 3px;
          overflow-y: hidden;

          span {
            display: inline-block;
            transform: translateY(100%);
          }
        }
      }

      .hero-section-image {
        position: relative;

        img {
          opacity: 0;
          width: 80vw;
          height: auto;

          @include sm {
            max-height: Min(70vh, 80vw);
            width: 50vw;
          }

          @include md {
            max-height: Min(70vh, 80vw);
            width: Min(475px, 40vw);
          }

          @include lg {
            width: Min(600px, 40vw);
          }
        }
      }
    }
  }

  .other-section {
    position: relative;

    .section-wrapper {
      width: 100%;
      height: 90vh;
      position: relative;
      padding: 5% 0;

      @include md {
        height: 90vh;
      }

      @include lg {
        height: max-content;
      }

      .section__decoration {
        position: absolute;
        display: grid;
        justify-content: right;
        right: -7.5%;
        bottom: -2.5%;

        @include md {
          right: -9.5%;
          bottom: 0;
        }

        &.active {
          .number-container {
            p {
              span {
                transform: translateY(0);
              }
            }
          }

          &::after {
            height: 40vh;
          }

          &::before {
            width: 35vw;
          }
        }

        .number-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          margin-right: 3vw;
          margin-bottom: 3vh;
          p {
            font-size: $font-size-sm;
            overflow: hidden;

            @include lg {
              font-size: $font-size-md;
            }

            span {
              display: inline-block;
              transition: all 0.5s;
              transform: translateY(100%);
            }
          }

          p.number {
            font-size: $font-size-md;
            transition: all 0.5s;
            overflow: hidden;

            @include lg {
              font-size: $font-size-xl;
            }
          }
        }

        &::before,
        &::after {
          content: "";
          background-color: $font-color;
          position: absolute;
          bottom: 0;
          right: 0;
          transition: all 0.5s;
        }

        &::before {
          width: 0;
          height: 2px;
        }
        &::after {
          width: 2px;
          height: 0;
        }
      }

      .section-main-content-2 {
        overflow: hidden;
        .section-image-content {
          grid-column: 1;
          grid-row: 1;
          justify-self: center;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          transform: translateX(-100%);
          opacity: 0;

          display: flex;
          justify-content: center;
          align-items: center;

          width: 50vw;
          height: 100%;

          @include sm {
            margin-bottom: 0;
            height: 33vh;
          }

          @include lg {
            height: 100%;
            width: 33vw;
            margin-bottom: 0;
          }

          &.none-cursor-img {
            cursor: default;
          }

          a {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            img {
              display: block;
              justify-self: center;
              object-fit: cover;
              object-position: center;
              width: 100%;
              max-height: 35vh;
              margin: 0;

              @include sm {
                margin-bottom: 1rem;
                width: 100%;
              }

              @include md {
                max-height: 40vh;
                margin-bottom: 0;
              }

              @include lg {
                height: auto;
                max-height: 70vh;
                max-width: 100%;
              }
            }
          }

          .visit-slider {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: $main-bg, $alpha: 0.3);

            justify-content: center;
            align-items: center;
            z-index: 0;

            transition: all 0.3s;
            opacity: 0;
            z-index: 10;

            @include lg {
              display: grid;

              &:hover {
                &::after {
                  transform: rotate(-20deg) translate(100vw, -50%);
                }
                opacity: 1;
                h3 {
                  transform: translateY(0);
                  opacity: 1;
                }
              }
            }

            cursor: pointer;
            text-decoration: none;

            &::after {
              content: "";
              position: absolute;
              width: 2vw;
              height: 200vh;
              background-color: #f3f3f3;
              z-index: 15;
              box-shadow: 0 0 1vw $font-color;
              filter: blur(1vw);
              opacity: 1;
              top: 20vh;
              transform: rotate(-20deg) translateX(-50vh);
              transition: all 0.5s linear;
            }

            h3 {
              transform: translateY(40px);
              opacity: 0;
              transition: all 0.3s 0.1s;
              z-index: 1;
              font-size: $font-size-xxl;
              font-weight: $xbold;
            }
          }

          @include lg {
            &:hover {
              img {
                opacity: 0.1;
              }
            }
          }
        }

        .section-text-content {
          grid-row: 2;

          @include lg {
            grid-row: 1;
          }

          .section-title {
            h2 {
              letter-spacing: Min(2px, 0.1vw);
              width: 100%;
              overflow-y: hidden;

              span {
                display: inline-block;
                transform: translateY(100%);
              }
            }

            p {
              overflow-y: hidden;
              letter-spacing: Min(2px, 0.1vw);
              width: 100%;

              span {
                display: inline-block;
                transform: translateY((100%));
              }
            }
          }
        }

        .main-cta-wrapper {
          transform: translateY(100%);

          &.button-wrapper {
            margin-left: 0;
          }
        }
      }
    }
  }

  .about {
    .section-wrapper {
      .section-main-content-2 {
        .section-image-content {
          &:hover {
            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .contact {
    .section-wrapper {
      min-height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .section-main-content-2 {
        grid-template-rows: 40% 60%;
        width: 100%;

        @include lg {
          grid-template-rows: 100%;
        }

        .section-image-content {
          overflow: visible;
          height: auto;
          .envelope {
            max-height: 20vh;
            background-color: transparent;
            box-shadow: none;
            animation: envelope 4s linear infinite;
            animation-delay: 2s;

            @include xl {
              max-height: 30vh;
            }
          }

          &:hover {
            img {
              opacity: 1;
            }
          }
        }

        .section-text-content {
          margin: 0;
          p {
            font-size: 4vw;

            @include lg {
              font-size: $font-size-md;
            }
            @include xl {
              font-size: 1.8rem;
            }
          }
          .mail-content {
            margin-top: 5vh;
            a {
              text-decoration: none;
              font-size: $font-size-rg;
              font-weight: $bold;
              text-decoration: none;
              font-size: 4.5vw;
              overflow: hidden;
              display: inline-block;

              span {
                display: inline-block;
                transform: translateY(100%);
              }

              @include sm {
              }

              @include lg {
                font-size: 2rem;
              }

              @include xl {
                font-size: 2.2rem;
              }
            }
          }

          .social-media {
            margin-top: 7vh;
            display: flex;
            flex-direction: column;

            width: 100%;
            text-align: center;

            @include lg {
              text-align: left;
            }

            .social-media-links {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: $hero-margin;

              @include lg {
                justify-content: flex-start;
                width: 240px;
                margin-top: 5vh;
              }
              a {
                text-decoration: none;
                img {
                  width: 40px;

                  @include lg {
                    width: 60px;

                    &:hover {
                      transform: scale(1.1);
                    }
                  }
                }

                &:nth-child(1) {
                  margin-right: 3vh;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes scroll-anim {
  0% {
    transform: translate(-50%, -1rem);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 1rem);
    opacity: 0;
  }
}

@keyframes envelope {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-1vh);
  }
  66% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0);
  }
}
