//Vaiables
@import "variables";

// Base & layouts
@import "base";
@import "breakpoints";

@import "colors";

//Components
@import "components/sections";
@import "components/navigation";
@import "components/header";
@import "components/slider";
@import "components/buttons";

body {
  overflow: hidden;
  scroll-behavior: smooth;
}

header {
  transition: all 0.5s;
  transform: translateY(-10rem);
  opacity: 0;
}

.navigation {
  position: fixed;
  z-index: 500;

  &.left-navi {
    left: 5%;
    bottom: 4vh;

    @include md {
      bottom: 12vh;
    }
  }

  &.right-navi {
    right: 5%;
    top: 12vh;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  outline: none;

  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }

  .hero {
    position: relative;

    .scroll_text {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -1rem);
      text-align: center;

      animation: scroll-anim 1.8s infinite linear;

      p {
        font-size: $font-size-rg;
        letter-spacing: 0.15rem;
        color: $light-gray;

        @include md {
          font-size: 20px;
        }

        @include xl {
          font-size: 24px;
        }
      }
    }

    .main-section-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10%;
      cursor: default;
      user-select: none;

      .section-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
        text-align: center;

        h1 {
          width: 100vw;
          letter-spacing: 4px;
          overflow-y: hidden;

          span {
            transition: all 0.5s;

            &.my-name {
              transform: translateY(100%);
            }
          }
        }

        p {
          letter-spacing: 3px;
          overflow-y: hidden;

          span {
            display: inline-block;
            transition: all 0.5s 0.2s;
            transform: translateY(100%);
          }
        }
      }

      .hero-section-image {
        position: relative;

        img {
          transition: all 0.5s;
          opacity: 0;
          height: 70vh;

          @include md {
            width: Min(475px, 40vw);
          }
        }
      }
    }
  }

  .other-section {
    position: relative;

    .section-wrapper {
      width: 100%;
      height: 90vh;
      position: relative;
      padding: 5% 0;

      @include md {
        height: 80vh;
      }

      @include lg {
        height: max-content;
      }

      .section__decoration {
        position: absolute;
        display: grid;
        justify-content: right;
        right: -7.5%;
        bottom: -2.5%;

        @include md {
          right: 0;
          bottom: 0;
        }

        .number-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          margin-right: 3vw;
          margin-bottom: 3vh;
          p {
            font-size: $font-size-sm;
            overflow: hidden;

            @include lg {
              font-size: $font-size-md;
            }
            @include xl {
            }

            span {
              display: inline-block;
              transform: translateY(100%);
              transition: all 1s 0.5s;
            }
          }

          p.number {
            font-size: $font-size-md;
            overflow: hidden;

            @include lg {
              font-size: $font-size-xxl;
            }
          }
        }

        &::before,
        &::after {
          content: "";
          background-color: $dark-gray;
          position: absolute;
          bottom: 0;
          right: 0;
          transition: all 0.5s;
        }

        &::before {
          width: 0;
          height: 2px;
        }
        &::after {
          width: 2px;
          height: 0;
        }
      }

      .section-main-content-2 {
        .section-image-content {
          height: max-content;
          grid-column: 1;
          grid-row: 1;
          justify-self: center;
          position: relative;
          transition: all 1s;
          overflow: hidden;
          cursor: pointer;

          transform: translate(-2vw, 2vh);

          &.none-cursor-img {
            cursor: default;
          }

          img {
            width: 100%;
            max-height: 50vh;
            box-shadow: inset 0px 4px 50px #000000;
            // display: block;

            opacity: 0;
            transition: all 2s;

            @include lg {
              max-height: 70vh;
            }
          }

          &.image-shadow {
            &::after {
              content: "";
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              position: absolute;
              display: block;
              box-shadow: inset 0px 4px 50px #000000;
            }
          }

          .visit-slider {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: $main-bg, $alpha: 0.9);

            justify-content: center;
            align-items: center;
            z-index: 0;

            transition: all 0.3s;
            opacity: 0;
            z-index: 10;

            @include lg {
              display: grid;
            }

            cursor: pointer;
            text-decoration: none;

            &::after {
              content: "";
              position: absolute;
              width: 2vw;
              height: 200vh;
              background-color: #f3f3f3;
              z-index: 15;
              box-shadow: 0 0 1vw $font-color;
              filter: blur(1vw);
              opacity: 1;
              top: 20vh;
              transform: rotate(-20deg) translateX(-50vh);
              transition: all 0.5s linear;
            }

            h3 {
              transform: translateY(40px);
              opacity: 0;
              transition: all 0.3s 0.1s;
              z-index: 1;
              font-size: $font-size-xxl;
              font-weight: $xbold;
            }
          }

          &:hover {
            img {
              opacity: 0.6;
            }
          }
        }

        .section-text-content {
          grid-row: 2;

          width: 100%;

          @include lg {
            grid-row: 1;
          }

          .section-title {
            @include lg {
              margin-left: $secion-text-margin-left-right;
            }

            h2 {
              letter-spacing: Min(2px, 0.1vw);
              width: 100%;
            }

            p {
              letter-spacing: Min(2px, 0.1vw);
              width: 100%;
            }
          }
        }

        .button-wrapper {
          margin-left: 0;
          @include lg {
            margin-left: $secion-text-margin-left-right;
          }
        }
      }
    }
  }

  .contact {
    .section-wrapper {
      min-height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .section-main-content-2 {
        .section-image-content {
          overflow: visible;

          .envelope {
            animation: envelope 4s linear infinite;
            animation-delay: 2s;
          }
        }

        .section-text-content {
          p {
            @include lg {
              font-size: $font-size-md;
            }
            @include xl {
              font-size: $font-size-slider;
            }
          }
          .mail-content {
            margin-top: 5vh;
            a {
              text-decoration: none;
              font-size: $font-size-rg;
              font-weight: $bold;
              text-decoration: underline wavy $font-color;

              @include sm {
                font-size: $font-size-md;
              }
              @include md {
                font-size: $font-size-md;
              }

              @include lg {
                font-size: 2rem;
              }

              @include xl {
                font-size: 3rem;
              }
            }
          }

          .social-media {
            margin-top: 7vh;
            display: flex;
            flex-direction: column;

            width: 100%;
            text-align: center;

            @include lg {
              text-align: left;
            }

            .social-media-links {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: $hero-margin;

              @include lg {
                justify-content: flex-start;
                width: 240px;
                margin-top: 5vh;
              }
              a {
                text-decoration: none;
                img {
                  width: 40px;

                  @include lg {
                    width: 60px;
                  }
                }

                &:nth-child(1) {
                  margin-right: 3vh;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes scroll-anim {
  0% {
    transform: translate(-50%, -1rem);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 1rem);
    opacity: 0;
  }
}

@keyframes envelope {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-1vh);
  }
  66% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0);
  }
}
