@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  font-family: "Ubuntu";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

body.landing-page {
  height: 100vh;
}

.text-primary-dark {
  color: #000000;
}

.bg-primary-dark {
  background-color: #000000;
}

.text-secondary {
  color: #ff7a00;
}

.bg-secondary {
  background-color: #ff7a00;
}

.text-primary {
  color: #ffffff;
}

.bg-primary {
  background-color: #ffffff;
}

.text-dark-styled {
  color: rgba(51, 51, 51, 0.7);
}

.bg-dark-styled {
  background-color: rgba(51, 51, 51, 0.7);
}

.text-dark-gray {
  color: #333333;
}

.bg-dark-gray {
  background-color: #333333;
}

.text-light-gray {
  color: #a4a4a4;
}

.bg-light-gray {
  background-color: #a4a4a4;
}

header {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  height: 5vh;
  z-index: 99;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 480px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    height: 10vh;
    font-size: 1.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header h3 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

@media (min-width: 720px) {
  header h3 {
    font-size: 1.5rem;
  }
}

header nav {
  width: 40vw;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

header nav ul li {
  cursor: pointer;
}

header nav ul li:hover {
  text-decoration: underline;
}

header nav ul li.active {
  color: #ff7a00;
}

header nav ul li a {
  cursor: pointer;
  text-decoration: none;
}

.subpage-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

@media (min-width: 960px) {
  .subpage-text {
    width: Min(450px, 28vw);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 1.5rem;
  }
}

.subpage-text h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

@media (min-width: 1100px) {
  .subpage-text h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1600px) {
  .subpage-text h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}

.subpage-text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 2rem;
  width: 80vw;
  text-align: justify;
}

@media (min-width: 720px) {
  .subpage-text p {
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  .subpage-text p {
    width: Min(450px, 28vw);
  }
}

@media (min-width: 1600px) {
  .subpage-text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.page-preview-images {
  width: 100vw;
}

@media (min-width: 960px) {
  .page-preview-images {
    width: Min(80vw, 1200px);
  }
}

.slide-in {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-in .slide-in_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-in .slide-in_logo .slide-in_img {
  opacity: 0;
}

.slide-in .slide-in_logo .slide-in_img img {
  width: 20vh;
}

.slide-in .slide-in_logo .slide-in_text {
  width: 100%;
  text-align: center;
  margin-top: 4vh;
}

.slide-in .slide-in_logo .slide-in_text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  background: #000000;
  overflow-y: hidden;
  position: relative;
}

.slide-in .slide-in_logo .slide-in_text h1 span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide-in.static .slide-in_logo .slide-in_img {
  opacity: 1;
}

.slide-in.static .slide-in_logo .slide-in_text h1 span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main-cta-wrapper {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  position: relative;
}

.main-cta-wrapper button {
  padding: 1vh 2vw;
  font-size: 1rem;
  background: transparent;
  font-weight: 400;
  border: 1px solid #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  position: relative;
}

@media (min-width: 480px) {
  .main-cta-wrapper button {
    font-size: 1.5rem;
  }
}

.main-cta-wrapper button::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 200vh;
  background-color: #f3f3f3;
  z-index: 5;
  -webkit-box-shadow: 0 0 0.4vw #ffffff;
          box-shadow: 0 0 0.4vw #ffffff;
  -webkit-filter: blur(0.5vw);
          filter: blur(0.5vw);
  opacity: 1;
  top: -20vh;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.main-cta-wrapper::after, .main-cta-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-cta-wrapper::before {
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-cta-wrapper::after {
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-cta-wrapper:hover button {
  -webkit-transform: translate(0.8rem, -0.8rem);
          transform: translate(0.8rem, -0.8rem);
  background-color: #ffffff;
  color: #000000;
}

.main-cta-wrapper:hover button::before {
  -webkit-transform: rotate(-20deg) translate(80vw);
          transform: rotate(-20deg) translate(80vw);
}

.main-cta-wrapper:hover::before {
  -webkit-transform: translate(-0.8rem, 0.8rem);
          transform: translate(-0.8rem, 0.8rem);
  background-color: rgba(164, 164, 164, 0.4);
}

.main-cta-wrapper:hover::after {
  background-color: rgba(255, 255, 255, 0.4);
}

header {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
}

.arrow-wrapper {
  position: fixed;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  left: 1rem;
}

@media (min-width: 480px) {
  .arrow-wrapper {
    top: 12vh;
    left: 5%;
  }
}

.arrow-wrapper img {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  outline: none;
  overflow-x: hidden;
  margin-top: 12vh;
}

main .website-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

main .website-wrapper .hero-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8rem;
}

main .website-wrapper .hero-wrapper .title-text-container {
  text-align: center;
  margin-bottom: 4rem;
}

main .website-wrapper .hero-wrapper .title-text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2vh;
  font-weight: 500;
  letter-spacing: 3px;
}

@media (min-width: 720px) {
  main .website-wrapper .hero-wrapper .title-text-container h1 {
    font-size: 4rem;
  }
}

@media (min-width: 960px) {
  main .website-wrapper .hero-wrapper .title-text-container h1 {
    font-size: 5.25rem;
  }
}

main .website-wrapper .hero-wrapper .title-text-container p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 6px;
}

@media (min-width: 720px) {
  main .website-wrapper .hero-wrapper .title-text-container p {
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {
  main .website-wrapper .hero-wrapper .title-text-container p {
    font-size: 3rem;
  }
}

main .website-wrapper .hero-wrapper .main-image-container {
  width: 80vw;
  height: 80vw;
  overflow: hidden;
  position: relative;
}

@media (min-width: 960px) {
  main .website-wrapper .hero-wrapper .main-image-container {
    width: Min(80vw, 1200px);
    height: Min(80vw, 1200px);
  }
}

main .website-wrapper .hero-wrapper .main-image-container::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  -webkit-box-shadow: inset 0px 4px 50px #000000;
          box-shadow: inset 0px 4px 50px #000000;
}

main .website-wrapper .hero-wrapper .main-image-container img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
}

main .website-wrapper .hero-wrapper .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  text-align: center;
  width: 100%;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgba(164, 164, 164, 0.4);
}

@media (min-width: 720px) {
  main .website-wrapper .hero-wrapper .details-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 960px) {
  main .website-wrapper .hero-wrapper .details-container {
    width: Min(80vw, 1200px);
  }
}

main .website-wrapper .hero-wrapper .details-container div.role-content {
  margin-bottom: 2rem;
}

main .website-wrapper .hero-wrapper .details-container div h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

main .website-wrapper .hero-wrapper .details-container div p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

main .website-wrapper .concept-container {
  margin-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 960px) {
  main .website-wrapper .concept-container {
    width: Min(80vw, 1200px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  main .website-wrapper .concept-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 960px) {
  main .website-wrapper .concept-container .concept-text-content {
    margin-bottom: 0;
  }
}

main .website-wrapper .concept-container .image-content {
  position: relative;
  height: 80vw;
}

@media (min-width: 480px) {
  main .website-wrapper .concept-container .image-content {
    height: 50vw;
  }
}

@media (min-width: 960px) {
  main .website-wrapper .concept-container .image-content {
    height: Min(40vh, 600px);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

main .website-wrapper .concept-container .image-content .image-wrapper {
  position: absolute;
  width: 100vw;
  height: 100%;
  right: -30%;
  top: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (min-width: 480px) {
  main .website-wrapper .concept-container .image-content .image-wrapper {
    right: -50%;
  }
}

@media (min-width: 960px) {
  main .website-wrapper .concept-container .image-content .image-wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    overflow: hidden;
    position: relative;
    right: 0;
  }
}

main .website-wrapper .concept-container .image-content .image-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: block;
  -webkit-box-shadow: inset 0px 4px 20px #000000;
          box-shadow: inset 0px 4px 20px #000000;
}

main .website-wrapper .concept-container .image-content .image-wrapper img {
  height: 80vw;
}

@media (min-width: 480px) {
  main .website-wrapper .concept-container .image-content .image-wrapper img {
    height: 50vw;
  }
}

@media (min-width: 960px) {
  main .website-wrapper .concept-container .image-content .image-wrapper img {
    height: Min(40vh, 600px);
  }
}

@media (min-width: 960px) {
  main .website-wrapper .development-container .development-text-content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 7vh;
    margin-bottom: 7vh;
  }
  main .website-wrapper .development-container .development-text-content h2 {
    width: Min(80vw, 1200px);
  }
  main .website-wrapper .development-container .development-text-content p {
    width: Min(50vw, 1000px);
  }
}

main .website-wrapper .development-container .page-preview-images {
  height: 135vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -ms-grid-rows: (minmax(min-content, max-content))[2];
      grid-template-rows: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
      grid-template-rows: repeat(2, minmax(min-content, max-content));
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  row-gap: 2vw;
  padding: 2vw;
  justify-content: center;
  overflow-y: hidden;
}

@media (min-width: 960px) {
  main .website-wrapper .development-container .page-preview-images {
    height: Min(120vw, 100%);
    padding: 0;
  }
}

main .website-wrapper .development-container .page-preview-images .col-left {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .website-wrapper .development-container .page-preview-images .col-left .image-wrapper {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main .website-wrapper .development-container .page-preview-images .col-left .image-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: block;
  -webkit-box-shadow: inset 0px 4px 20px #000000;
          box-shadow: inset 0px 4px 20px #000000;
}

main .website-wrapper .development-container .page-preview-images .col-left .image-wrapper img {
  display: block;
  width: 100%;
}

main .website-wrapper .development-container .page-preview-images .col-right {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main .website-wrapper .development-container .page-preview-images .image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

main .website-wrapper .development-container .page-preview-images .image-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: block;
  -webkit-box-shadow: inset 0px 4px 20px #000000;
          box-shadow: inset 0px 4px 20px #000000;
}

main .website-wrapper .development-container .page-preview-images .image-wrapper img {
  display: block;
  width: 100%;
}

main .visit-container {
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 5vh;
}

main .visit-container .visit-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
/*# sourceMappingURL=project-page.css.map */